
/* Flexbox-card section */
body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #d5ccc6;
    justify-content: center;
    align-items: center;
    
}

/* Container */
.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a89968;
}

/* Columns */
.column {
    width: 48%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Boxes in general styling */
.box {
    width: 90%;
    height: 50%;
    background-color: #efdbb2;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.card {
    min-width: 100px;
    min-height: 100px;
    background-color: #c5c392;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    padding: 5px;
}

.card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #8A9A5B;
}

/*first box styling*/
.first{
    align-items: flex-end;
}

/*second box styling*/
.second{
    justify-content: flex-end;
}

/*third box styling*/
.third{
    align-items: stretch;
    justify-content: space-around;
}

/*paragraph in the third box styling*/
p {
    font-size: 14px;
    text-align: justify;
    font-size: 15px;
  }

/*card in the middle from the third box styling*/
.middle{
    align-self: center;
}

/*fourth box styling*/
.fourth{
    align-items: stretch;
    justify-content: center;
}

/*fifth box styling*/
.fifth{
    align-items: flex-start;
    justify-content: space-between;
}

/*the last card from the fifth box styling*/
.last{
    align-self: flex-end;
}

/*sixth box styling*/
.sixth{
    justify-content: space-around;
}

/*card with the id-name "grow" from the sixth box*/
.grow{
    flex-grow: 2;
}

/*generalize the sizing of images*/
.img {
    height: 78px;
    width: 78px;
  }

/*sizing for a specific image in the fourth-box*/
  .img2 {
    height: 120px;
    width: 78px;
  }

/*sizing for a specific image with the id-name "turtle" from the sixth-box*/  
  .turtle{
    height: 78px;
    width: 180px;
  }


/*Flexbox round-shape section*/

.round {   /*container*/
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #a0b2a2;

}

.column__round{
    width: 48%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.box__round {
  
        width: 70%;
        height: 35%;
        background-color: #efdbb2;
        border: 2px solid #333;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
        

}

.crd{
    width: 80px;
    height: 80px;
    background-color: #f3c677;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    column-gap: 10px;
}


.blue{
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #175676;
    flex-direction: column;
}

.blue:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #0d7fd7;
}

.brown{
    justify-content: space-around;
    background-color: #825d4c;
}

.brown:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #742401;
}

.red{
    background-color: #b23a48;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.red:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #b50c14;
}

.gray{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #525252;
}

.gray:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #392b2b;
}

.purple{
    background-color: #4f4772;
    justify-content: space-between;
    flex-direction: column;
}

.purple:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    background-color: #61056c;
}

